*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: gray;
    padding: 0.25rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li{
    color: blueviolet;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
nav ul li a:hover{
    color: #a80b0b;
    text-decoration-line: underline;
    text-decoration-color: black;
    
    -webkit-text-stroke: 1px black;
    text-decoration-thickness: 1.15px;

}


body {
  background-color: lightgray;
  color: black;
  margin: 0;
  
  
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
    border: 2px solid black;
    border-style: groove;
    transition: 0.3s;
}

img:hover {
    border-style: ridge;

}
h1{
    font-family:'UnifrakturMaguntia';
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    text-align: center;
}

a {
    font-family:'UnifrakturMaguntia';
    font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: black;
}



p {
    font-family:'UnifrakturMaguntia';
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
    span:hover {
        -webkit-text-stroke: 0.25px #a80b0b;
    }